name: Build and deploy Laravel app to Azure Web App - pixora

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: pdo_mysql
          ini-values: post_max_size=256M, upload_max_filesize=256M

      # Cache composer (Biar build selanjutnya kenceng)
      - name: Cache Composer dependencies
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      # Install dependencies
      - name: Install Composer dependencies
        run: |
          composer install --no-dev --prefer-dist --no-progress --no-interaction
          composer dump-autoload -o

      # Generate key if missing (tidak akan overwrite key dari Azure)
      - name: Generate APP Key
        run: php artisan key:generate --force || true

      # Optimize laravel
      - name: Optimize Laravel
        run: |
          php artisan config:cache
          php artisan route:cache

      # Upload ONLY application files (bukan seluruh folder OS)
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: |
            .
            !node_modules/
            !vendor/
            !storage/logs/
            !storage/framework/cache/
            !storage/framework/sessions/
            !tests/

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download app artifacts
        uses: actions/download-artifact@v4
        with:
          name: app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_394730327DCF4AE69EBCD51F105B1D82 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_609BC11BD80F463EA6FC9A3E086613D5 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D0939E762D2F4563A0AF2DE700A5E3CF }}

      # Deploy to Azure
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'pixora'
          slot-name: 'Production'
          package: .
